.add-to-card-button {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
  background-color: #9a2c2e;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

.add-to-card-button:hover {
  text-decoration: none;
  background-color: #d45456;
  color: #fff;

}
.quantity {
  padding: 15px 0;
  border-radius: 0 0 8px 8px;
  text-align: center;
  width: 100%;
  background-color: #9a2c2e;
  color: #fff;
  border-radius: 0 0 8px 8px;
}
.plus-btn {
  float:left;
  margin-top: -15px;
  padding: 15px;

}
.plus-btn:hover {


}
.minus-btn {
  margin-top: -15px;
  padding: 15px;
  float:right
}
