$t: rgba(255, 0, 0, 0);
$w: rgba(255, 255, 255, 0.98);

* {
  box-sizing: border-box;
}
.box-icon {
  width:50px;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(
      311deg
  ) brightness(118%) contrast(119%);
}
.logo {

  --c1: brown;
  --c2: #ff56a8;
  --c3: #ff56a8;
  --c4: #ff56a8;
  --c5: #ff56a8;
  --shine-angle: 15deg;
  display: inline-grid;
  grid-template-areas: "text";
  place-items: center;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 900;
  font-size: clamp(2rem, 1vw, 13rem);
  color: var(--c5);
  padding:10px;
  margin-top:-10px;

  &-lg {
    font-size: clamp(6rem, 30vw, 20rem);
  }

  span {
    background: linear-gradient(
        var(--shine-angle),
        $t 0%,
        $t 80%,
        $w 49.95%,
        $w 50.15%,
        $t 65%,
        $t
    ),
    linear-gradient(
        to right,
        var(--c1),
        var(--c2),
        var(--c3),
        var(--c4),
        var(--c5)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.01em rgba(0, 0, 0, 0.6);
    // FUn fact - letter-spacing messes with the ability of the
    // gradient to cover all the text :(
  }

  & > *,
  &::before,
  &::after {
    grid-area: text;
  }

  &::before,
  &::after {
    content: attr(data-text);
    color: #fff;
  }

  &::before {
    -webkit-text-stroke: 0.21em white;
    background: no-repeat linear-gradient(white, white) 15% 50% / 85% 60%;

    // Original failed attempt
    // letter-spacing: -0.04em;
    // transform: scale(1.12) translateX(-0.02em) translateY(0.002em);
    // text-shadow: 0.002em 0.002em 0.02em rgba(0, 0, 0, 0.75);
    // -webkit-text-stroke: 0.001em rgba(0, 0, 0, 0.6);
  }

  &::after {
    text-shadow: 0.07em 0.08em 0.05em rgba(0, 0, 0, 0.75),
    -0.07em -0.05em 0.05em rgba(0, 0, 0, 0.75);
    z-index: -2;
  }
}
.form-control {
  padding: 0 85px 0 12px;
  height: 44px;
  line-height: 44px;
  font-size: 1rem;
  border: 2px solid #e2e7e9;
}


